.social-button {
  padding-left: 1px;
  padding-top: 1px;
  border-radius: 0;
  font-weight: 300;
  font-size: 20px;
  width: 60px;
  height: 60px;
  background: var(--social);
  border: 0;
  border-bottom: 2px solid;
  border-bottom-color: var(--card);
  color: whitesmoke;
  cursor: pointer;
  transition: 400ms ease-out;
  margin: 0.5rem 0.75rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.social-button.social-button-with-text {
  width: auto;
  padding: 0 1.1rem;
}

.social-button.full-width, .social-button.full-width.social-button-with-text {
  width: 80%;
}

.social-button.social-button-with-text i {
  margin-right: 0.7rem;
}

.social-button i {
  font-weight: 300;
  font-size: 42px;
}

.social-button:disabled {
  pointer-events: none;
  filter: opacity(60%);
}

// Social

.twitter.social-button {
  --social: var(--twitter);
}

.google.social-button {
  --social: var(--google);
}

.facebook-f.social-button {
  --social: var(--facebook);
}

.linkedin-in.social-button {
  --social: var(--linkedin);
}

.vk.social-button {
  --social: var(--vk);
}

.twitch.social-button {
  --social: var(--twitch);
}

.dribbble.social-button {
  --social: var(--dribbble);
}

.reddit-alien.social-button {
  --social: var(--reddit);
}

.pinterest.social-button {
  --social: var(--pinterest);
}

.yandex.social-button {
  --social: var(--yandex);
}

.github.social-button {
  --social: var(--github);
}

.stripe-s.social-button {
  --social: var(--stripe);
}

.coinbase.social-button {
  --social: var(--coinbase);
}
.paypal.social-button {
  --social: var(--paypal);
}

.social-button-checked.social-button {
  box-shadow: 0 4px 7px 0 var(--social);
  border-bottom-color: var(--social);
  background: whitesmoke;
  color: var(--social);
}

@media (hover: hover) {

  .social-button:hover {
    box-shadow: 0 4px 7px 0 var(--social);
    background: whitesmoke;
    border-bottom-color: var(--social);
    color: var(--social);
  }
}
