<div class="search-area">
  <i aria-hidden="true" class="material-icons">search</i>
  <input #searchArea (keyup)="search($event)" placeholder="Search..." type="text">
  <div
      *ngIf="searchResults.length > 0 && searchEnabled"
      class="search-results">
    <a (click)="searchResults = []" *ngFor="let result of searchResults"
       [routerLink]="URLS.user.root + '/' + result.username">
      <app-label-with-icon-data [data]="result.username" [isClickableWithinApp]="true" [noMargin]="true"
                                [solid]="'user'" [urlPrefix]="URLS.user.root + '/'">
      </app-label-with-icon-data>
    </a>
  </div>
</div>
