.dashboard-layout-top-nav {
 position: fixed;
 top: 0;
 left: 0;
 height: 55px;
 width: 100vw;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 overflow-x: auto;
 background-color: var(--background);
 box-shadow: 0 0 5px var(--shadow);
 z-index: 10;
}

.dashboard-layout-top-nav a {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 min-width: 20vw;
 overflow: hidden;
 white-space: nowrap;
 font-size: 13px;
 transition: background-color 0.1s ease-in-out;
}

.dashboard-layout-top-nav div {
 flex: 3;
 flex-direction: row;
 min-width: 20vw;
 font-size: 13px;
}

.dashboard-layout-top-nav a {
 flex: 1;
}

.dashboard-layout-top-nav a i {
 margin: 0.2rem;
 font-size: 25px;
}

@media only screen and (max-width: 799px) {
 .dashboard-layout-top-nav {
  visibility: visible;
 }
}

@media only screen and (min-width: 800px) {
 .dashboard-layout-top-nav {
  visibility: hidden;
 }
}
