<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a class="nav-link">
        <span class="link-text logo-text">Dashboard</span>
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-right"
             class="svg-inline--fa fa-angle-double-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24">
          <path fill="currentColor" d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z"></path>
        </svg>
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-circle"
             class="svg-inline--fa fa-user-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path>
        </svg>
        <span class="link-text">Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="store"
             class="svg-inline--fa fa-store fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z"></path>
        </svg>
        <span class="link-text">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="wallet"
             class="svg-inline--fa fa-wallet fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M21 18v1c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2V5c0-1.1.89-2 2-2h14c1.1 0 2 .9 2 2v1h-9c-1.11 0-2 .9-2 2v8c0 1.1.89 2 2 2h9zm-9-2h10V8H12v8zm4-2.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path>
        </svg>
        <span class="link-text">Sales</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0);" class="nav-link" (click)="switchTheme()">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="fill-drip"
             class="svg-inline--fa fa-fill-drip fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z"/>
        </svg>
        <span class="link-text">Theme</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="" (click)="logout()" class="nav-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt"
             class="svg-inline--fa fa-sign-out-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
        </svg>
        <span class="link-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
<div class="full-screen-image" [class.darkTheme]="darkTheme === 'true'">
  <div class="full-screen-image-overlay">
    <div fxLayout="column">
      <br>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
