@import 'src/themes';
@import 'src/brand';

.dashboard-layout-page {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: map_get($basic-angular-ui-template-theme, "bg-light");
  padding: 0.5rem 0 0;
  min-height: 100vh;
}

.dark-theme.dashboard-layout-page {
  background-color: map_get($basic-angular-ui-template-theme, "bg-dark");
}

.dashboard-layout-content {
  padding: 0 2rem 0;
  min-height: 100vh;
}

@media only screen and (max-width: 799px) {
  .header-filler {
    display: none;
  }

  .dashboard-layout-page {
    min-height: 200vh;
  }

  .dashboard-layout-page, .footer-wrap {
    margin-left: 0;
  }
}

@media only screen and (min-width: 800px) {
  .header-filler {
    display: block;
  }

  .dashboard-layout-page {
    min-height: 100vh;
  }

  .dashboard-layout-page, .footer-wrap {
    margin-left: 16rem;
  }
}
