@import '../../../../themes';

.transparent {
  background-color: rgba(255, 255, 255, 0) !important;
}

.navbar {
  position: fixed;
  z-index: 1;
  transition: width 600ms ease;
  background-color: map_get($basic-angular-ui-template-primary, "default");
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: map_get($basic-angular-ui-template-primary, "default-contrast");
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: 600ms;
  padding-left: env(safe-area-inset-left);
}

.logo .nav-link {
  background: map_get($basic-angular-ui-template-primary, "darker");
  color: map_get($basic-angular-ui-template-primary, "darker-contrast")
}

.logo .link-text {
  margin-left: 1.5rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link path {
  transition: 600ms;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: map_get($basic-angular-ui-template-primary, "default");
  font-size: 1.25rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-link svg {
    width: 1.7rem;
    min-width: 1.7rem;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: max(5rem, calc(5rem + env(safe-area-inset-left)));
    height: 100vh;
  }

  .navbarOpen {
    width: calc(16rem + env(safe-area-inset-left))!important;
  }

  .navbarOpen .logo svg {
    transform: rotate(-270deg)!important;
  }

  .navbarOpen .logo .nav-link {
    filter: grayscale(0%) opacity(1)!important;
  }

  .navbarOpen .link-text {
    display: inline!important;
  }

  .navbarOpen .logo svg {
    margin-left: 12rem!important;
  }

  .navbarOpen .logo-text {
    left: env(safe-area-inset-left)!important;
  }
}

@media only screen and (max-width: 600px) {
  .full-screen-image {
    height: 120%;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .full-screen-image {
    height: 100%;
  }
}

@media (hover:hover) {
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: map_get($basic-angular-ui-template-primary, "darker");
    color: map_get($basic-angular-ui-template-primary, "darker-contrast")
  }

  @media only screen and (min-width: 600px) {
    .navbar:hover {
      width: calc(16rem + env(safe-area-inset-left));
    }

    .navbar:hover .link-text {
      display: inline;
    }
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .navbar:hover .logo .nav-link {
    filter: grayscale(0%) opacity(1);
  }

  .navbar:hover .logo svg {
    margin-left: 12rem;
  }

  .navbar:hover .logo-text {
    left: env(safe-area-inset-left);
  }
}
