@use '../../../../styles/util/util';

.activity-card {
  font-size: 18px;

  & .header {
    text-align: left;
    padding: 1em 1em 0;

    & i {
      color: var(--theme-color);
    }

    & p {
      color: var(--lighter);
      font-weight: 600;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid var(--theme-color-lighter-4);
      text-align: center;
    }
  }

  & .body {
    text-align: left;
    padding: 0 1em 1em;
    height: -webkit-fit-content;

    & .row {
      @include util.flex-layout-row;

      padding: 10px 5px;
      border-bottom: 2px solid var(--theme-color-lighter-8);

      & img {
        width: 40px;
        height: 40px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
      }

      & .column {
        @include util.flex-layout-column;
        margin-left: 5px;

        padding: 0 10px;

        p {
          color: var(--lighter);
          font-weight: 300;
          padding-bottom: 5px;
          text-overflow: ellipsis;
          overflow: auto;
        }

        & .date {
          font-size: 15px;
        }
      }
    }
  }
}
