.top-nav {
  height: 50px;
  padding: 20px 110px 20px 46px;
  display: flex;
  background-color: var(--background);
  box-shadow: 5px 0 10px var(--shadow);
}

.top-nav a {
  border-radius: 3px;
  padding: 10px 17px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.top-nav a:first-child {
  margin-right: auto;
}

.top-nav .login {
  color: var(--success);
  border-radius: 0;
  border-bottom: var(--success) 1px solid;
}

.top-nav .login:hover {
  color: white;
  border-radius: 3px;
  background: var(--success);
}

.top-nav .brand > * {
  margin: 0.2rem;
}

.top-nav a i {
  margin: 0.35rem;
  font-size: 22px;
}

@media only screen and (max-width: 799px) {
  .top-nav {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .top-nav a {
    display: inline-flex;
  }
}

@media (hover: hover) {
  .top-nav a:first-child:hover {
    background: none;
  }
}
