<nav class="top-nav">
  <a routerLink="/" class="brand">
    <img class="brand-logo" height="40" src="/assets/brand-logo.png"/>
    <h2>UI Template</h2>
  </a>
  <a routerLink="/dashboard">
    <i class="material-icons">dashboard</i>
    <span>
        DASHBOARD
    </span>
  </a>
  <a href="javascript:void(0)" (click)="switchTheme()" *ngIf="!currentUser">
    <i class="material-icons">invert_colors</i>
    <span>
        THEME
    </span>
  </a>
  <a routerLink="/signup" *ngIf="!currentUser">
    <i class="material-icons">person_add</i>
    <span>
        REGISTER
    </span>
  </a>
  <a routerLink="/login" *ngIf="!currentUser">
    <i class="material-icons">fingerprint</i>
    <span>
        LOGIN
    </span>
  </a>
  <a href="javascript:void(0)" (click)="logout()" *ngIf="currentUser">
    <i class="material-icons">exit_to_app</i>
    <span>
        LOGOUT
    </span>
  </a>
</nav>
