<nav class="top-nav rounded-box">
  <a class="brand" routerLink="/">
    <img [src]="brand.brandLogo" alt="brand-logo" class="brand-logo" height="40"/>
    <h2>UI Template</h2>
  </a>
  <a routerLink="/dashboard">
    <i class="material-icons">dashboard</i>
    <span>
        DASHBOARD
    </span>
  </a>
  <a (click)="switchTheme()" *ngIf="currentUser" href="javascript:void(0)">
    <i class="material-icons">invert_colors</i>
    <span>
        THEME
    </span>
  </a>
  <a *ngIf="!currentUser" routerLink="/signup">
    <i class="material-icons">person_add</i>
    <span>
        REGISTER
    </span>
  </a>
  <a *ngIf="!currentUser" class="login" routerLink="/login">
    <i class="material-icons">fingerprint</i>
    <span>
        LOGIN
    </span>
  </a>
  <a (click)="logout()" *ngIf="currentUser" href="javascript:void(0)">
    <i class="material-icons">exit_to_app</i>
    <span>
        LOGOUT
    </span>
  </a>
</nav>
