@use "../util/util";

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;

  box-shadow: 0 0 5px var(--shadow);
  z-index: 11;
  padding-bottom: env(safe-area-inset-bottom);

  background-color: var(--background-color-alpha);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  & a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;

    position: relative;

    & i {
      margin: 0.2em;
      font-size: 19px;
    }

    &.disabled {
      cursor: auto;
    }

    & .notifications {
      @include util.flex-layout-row;
      @include util.flex-center-center;

      border-radius: 100%;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      box-shadow: 0 -6px 15px -7px var(--shadow);
      border: 1px solid var(--card);
      background-color: var(--error);
      color: var(--card);

      position: absolute;
      left: 10vw;
      top: 4px;

      &.smaller-font {
        font-size: 11px;
      }
    }

    & span {
      font-size: 85%;
    }
  }

  & .sign-up {
    color: var(--theme-color);
  }
}

@media (hover: hover) {
  .bottom-nav {
    & a {
      &:hover {
        background: var(--hover);
      }

      &.disabled {
        cursor: auto;

        &:hover {
          background: none;
        }
      }
    }

    & .sign-up {
      &:hover {
        color: white;
        background: var(--theme-color);
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .bottom-nav {
    visibility: visible;
  }
}

@media only screen and (min-width: 1000px) {
  .bottom-nav {
    visibility: hidden;
  }
}
