<div class="form-page-layout">
  <!-- Welcome -->
  <oth-card [bodyTemplate]="bodyTemplate" [defaultHeaderClass]="'underline'" [header]="'Login'">
    <!-- Body -->
    <ng-template #bodyTemplate>
      <div class="body">
        <div class="flex-layout-row-wrap flex-center-center auth-social-login-wrapper">
          <ng-container>
            <oth-brand-button (click)="socialLogin( website )" *ngFor="let website of websites.slice(0, 4)"
                              [disabled]="!website.tag" [icon]="website.cssClass">
            </oth-brand-button>
          </ng-container>
        </div>
        <a (click)="showMoreToggle = !showMoreToggle" *ngIf="!showMoreToggle"
           class="more flex-layout-row flex-center-center theme-color-link">
          <p i18n="@@signUp.more.text">more..</p>
          <i [class]="'fas fa-lg fa-fw fa-caret-down'" aria-hidden="true"></i>
        </a>
        <div class="flex-layout-row-wrap flex-center-center auth-social-login-wrapper">
          <ng-container>
            <oth-brand-button (click)="socialLogin( website )" *ngFor="let website of websites.slice(4)"
                              [disabled]="!website.tag" [icon]="website.cssClass"
                              [style.height]="showMoreToggle ? 'auto' : 0"
                              [style.opacity]="showMoreToggle ? 1 : 0"
                              [style.visibility]="showMoreToggle ? 'visible' : 'hidden'">
            </oth-brand-button>
          </ng-container>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="section">
            <div [class.error-input]="submitted && form.controls.username.invalid" class="input-with-icon">
              <input formControlName="username" i18n-placeholder="@@loginPage.usernameOrEmail.placeholder"
                     placeholder="Username or Email..." required type="text">
              <i aria-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
            </div>
            <div [class.error-input]="submitted && form.controls.password.invalid" class="input-with-icon">
              <input formControlName="password" i18n-placeholder="@@loginPage.password.placeholder"
                     placeholder="Password..." required type="password">
              <i aria-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
            </div>
            <div class="input-checkbox">
              <label class="input-checkbox-label">
                <input formControlName="rememberMe" type="checkbox">
                <span></span>
                <p i18n="@@loginPage.rememberMe">Remember Me</p>
              </label>
            </div>
          </div>
          <div class="section-submit">
            <oth-button i18n-text="@@loginPage.loginButton" text="LOG IN"></oth-button>
            <p>
              <ng-container i18n="@@loginPage.dontHaveAccount">Don't have an account?</ng-container>
              <a [routerLink]="URLS.signup" class="theme-color-link" i18n="@@loginPage.signUp">
                Sign Up
              </a>
            </p>
            <p>
              <a [routerLink]="URLS.forgetPassword" class="theme-color-link" i18n="@@loginPage.forgetPassword">
                Forget password?
              </a>
            </p>
          </div>
        </form>
      </div>
    </ng-template>
  </oth-card>
</div>
<app-cookies></app-cookies>

