@use '../../../../styles/util/util';
@use 'node_modules/@open-template-hub/card/styles/card/card';

.notifications-card {

  & .body {
    @include card.default-body;

    justify-content: flex-start;

    width: 100%;

    padding-left: 20px;
    padding-right: 20px;

    & .notification {
      @include util.flex-layout-row;

      align-items: center;

      width: 100%;
      height: 50px;

      border-bottom: 1px solid var(--theme-color-lighter-7);

      &:last-child {
        border-bottom: none;
      }

      &.dim {
        color: var(--lighter-contrast);

        &:hover {
          cursor: auto;
        }
      }

      & .led-wrapper {
        @include util.flex-layout-row;
        @include util.flex-center-center;

        width: 4%;
      }

      & .date {
        width: 25%;
        padding-right: 10px;
      }

      & .message {
        width: 71%;
        text-align: left;
        padding-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .footer {
    @include card.default-footer;
  }
}
