<div class="full-width-cards-wrapper">
  <oth-card [bodyTemplate]="bodyTemplate" [defaultHeaderClass]="'underline'"
            [footerTemplate]="footerTemplate" [header]="'Notifications'" class="notifications-card">

    <!-- Body -->
    <ng-template #bodyTemplate>
      <div [style.justify-content]="notifications.length === 0 ? 'center' : ''" class="body">
        <p *ngIf="notifications.length === 0">
          No new notifications!
        </p>
        <div (click)="read(i)" *ngFor="let notification of notifications; index as i" [class.dim]="notification.read"
             class="notification">
          <div class="led-wrapper">
            <oth-led *ngIf="!notification.read" [informationType]="'info'"></oth-led>
          </div>
          <p class="message">
            {{ notification.message }}
          </p>
          <p class="date">
            {{ timestampToDate( notification.timestamp ) | date: 'dd MMM HH:mm' }}
          </p>
        </div>
      </div>
    </ng-template>

    <!-- Footer -->
    <ng-template #footerTemplate>
      <div class="footer">
      </div>
    </ng-template>
  </oth-card>
</div>
