<svg preserveAspectRatio="xMidYMax slice" viewBox="0 0 1000 250" xmlns="http://www.w3.org/2000/svg">
  <path
      id="path833"
      fill="var(--theme-color-lighter-4)"
      d="m 463.4,43 11,-43 h 73.2 z"/>
  <path
      id="path835"
      fill="var(--theme-color-lighter-2)"
      d="m 547.6,0 43,41 -127.2,2 z"/>
  <path
      id="path837"
      fill="var(--theme-color)"
      d="M 463.4,43 365.3,0 h 109.1 z"/>
  <path
      id="path839"
      fill="var(--theme-color-lighter-7)"
      d="M 590.6,41 561.72102,186.75733 463.4,43 Z"/>
  <path
      id="path841"
      fill="var(--theme-color-lighter-2)"
      d="M 463.4,43 351.3,94 365.3,0 Z"/>
  <path
      id="path843"
      fill="var(--theme-color-lighter-2)"
      d="M 561.72102,186.75733 411.42047,169.24855 463.4,43 Z"/>
  <path
      id="path845"
      fill="var(--theme-color-lighter-8)"
      d="M 411.42047,169.24855 351.3,94 463.4,43 Z"/>
  <path
      id="path847"
      fill="var(--theme-color-lighter-1)"
      d="M 547.6,0 H 681.7 L 590.6,41 Z"/>
  <path
      id="path849"
      fill="var(--theme-color-lighter-3)"
      d="m 590.6,41 71.1,80 -99.97898,65.75733 z"/>
  <path
      id="path851"
      fill="var(--theme-color-lighter-1)"
      d="m 681.7,0 -20,121 -71.1,-80 z"/>
  <path
      id="path853"
      fill="var(--theme-color-lighter-8)"
      d="M 411.42047,169.24855 321.435,158.58124 351.3,94 Z"/>
  <path
      id="path855"
      fill="var(--theme-color-lighter-9)"
      d="M 351.3,94 252.2,0 h 113.1 z"/>
  <path
      id="path857"
      fill="var(--theme-color-lighter-8)"
      d="m 661.7,121 45.25474,83.57454 -145.23372,-17.81721 z"/>
  <path
      id="path859"
      fill="var(--theme-color-lighter-6)"
      d="m 181.2,73 71,-73 99.1,94 z"/>
  <path
      id="path861"
      fill="var(--theme-color-lighter-4)"
      d="m 681.7,0 91.1,51 -111.1,70 z"/>
  <path
      id="path863"
      fill="var(--theme-color-lighter-3)"
      d="M 321.435,158.58124 181.2,73 351.3,94 Z"/>
  <path
      id="path865"
      fill="var(--theme-color-lighter-2)"
      d="M 772.8,51 706.95474,204.57454 661.7,121 Z"/>
  <path
      id="path867"
      fill="var(--theme-color-lighter-4)"
      d="m 681.7,0 h 127.1 l -36,51 z"/>
  <path
      id="path869"
      fill="var(--theme-color)"
      d="m 866.9,148 -66.1196,67.87281 -93.82566,-11.29827 z"/>
  <path
      id="path871"
      fill="var(--theme-color-lighter-7)"
      d="M 208.22168,144.46396 181.2,73 321.79797,158.52059 Z"/>
  <path
      id="path873"
      fill="var(--theme-color)"
      d="M 847.9,98 706.95474,204.57454 772.8,51 Z"/>
  <path
      id="path875"
      fill="var(--theme-color-lighter-9)"
      d="M 96.26422,131.87372 125.1,66 l 56.1,7 z"/>
  <path
      id="path877"
      fill="var(--theme-color-lighter-8)"
      d="M 808.8,0 847.9,98 772.8,51 Z"/>
  <path
      id="path879"
      fill="var(--theme-color-lighter-8)"
      d="m 847.9,98 19,50 -159.94526,56.57454 z"/>
  <path
      id="path881"
      fill="var(--theme-color-lighter-9)"
      d="M 96.26422,131.87372 181.2,73 l 27.02168,71.46396 z"/>
  <path
      id="path883"
      fill="var(--theme-color-lighter-1)"
      d="M 181.2,73 88.1,0 h 164.1 z"/>
  <path
      id="path885"
      fill="var(--theme-color-lighter-6)"
      d="m 808.8,0 h 101.1 l -62,98 z"/>
  <path
      id="path887"
      fill="var(--theme-color-lighter-8)"
      d="M 847.9,98 1000,119 866.9,148 Z"/>
  <path
      id="path889"
      fill="var(--theme-color)"
      d="M 125.1,66 88.1,0 181.2,73 Z"/>
  <path
      id="path891"
      fill="var(--theme-color)"
      d="M 0,66 V 0 h 88.1 z"/>
  <path
      id="path893"
      fill="var(--theme-color-lighter-4)"
      d="M 1000,119 917.57856,229.58573 866.9,148 Z"/>
  <path
      id="path895"
      fill="var(--theme-color-lighter-2)"
      d="M 866.9,148 917.57856,229.58573 800.7804,215.87281 Z"/>
  <path
      id="path897"
      fill="var(--theme-color-lighter-2)"
      d="M 909.9,0 1000,56 847.9,98 Z"/>
  <path
      id="path899"
      fill="var(--theme-color)"
      d="M 909.9,0 H 1000 V 56 Z"/>
  <path
      id="path901"
      fill="var(--theme-color-lighter-7)"
      d="m 1000,56 v 63 L 847.9,98 Z"/>
  <path
      id="path903"
      fill="var(--theme-color-lighter-1)"
      d="M 0,66 H 125.1 L 96.26422,131.87372 Z"/>
  <path
      id="path905"
      fill="var(--theme-color-lighter-8)"
      d="m 0,66 88.1,-66 37,66 z"/>
  <path
      id="path907"
      fill="var(--theme-color-lighter-5)"
      d="M 0,120 V 66 l 96.26422,65.87372 z"/>
  <path
      id="path909"
      fill="var(--theme-color-lighter-7)"
      d="M 1000,119 V 240 L 917.57856,229.58573 Z"/>
</svg>
