@use '../../../styles/util/util';
@use '../../../styles/page/page';

.wrapper {
  background-color: var(--background-color);

  & .page {
    & .page-content {
      padding: 0 2rem 2em;
    }
  }
}

@media only screen and (max-width: 999px) {
  .wrapper {
    & .page {
      min-height: 200vh;
      margin-top: 55px;
    }

    & .page, & .footer-wrap {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    & .page, & .footer-wrap {
      margin-right: 320px;
    }

    &.side-nav-closed {
      & .page, & .footer-wrap {
        margin-left: 80px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    & .page {
      margin-top: 0;
      min-height: calc(100vh - 480px);
    }

    & .page, & .footer-wrap {
      margin-left: 256px;
      margin-right: 400px;
    }

    &.side-nav-closed {
      & .page, & .footer-wrap {
        margin-left: 80px;
      }
    }
  }
}
