<nav class="top-nav" #dropdownMenuParent>
  <a [routerLink]="URLS.root"
     class="brand">
    <img [src]="BRAND.logo.main" alt="logo" class="brand-logo" height="40" width="40"/>
    <h2>Open Template Hub</h2>
  </a>
  <div class="left-item-wrapper">
  </div>
  <div class="right-item-wrapper">
    <a [routerLink]="URLS.login" *ngIf="!currentUser">
      <i [class]="'fas fa-fingerprint fa-fw'" aria-hidden="true"></i>
      <span i18n="@@landingLayoutTopNav.login">Login</span>
    </a>
    <a [routerLink]="URLS.signup" *ngIf="!currentUser"
       class="sign-up">
      <i [class]="'fas fa-user-plus fa-fw'" aria-hidden="true"></i>
      <span i18n="@@landingLayoutTopNav.signUp">Sign Up</span>
    </a>
    <a (click)="buy()" *ngIf="currentUser && !userIsPremium">
      <i [class]="'fas fa-star fa-fw yellow-theme'" aria-hidden="true" style="color: var(--theme-color);"></i>
      <span i18n="@@landingLayoutTopNav.premium">Premium</span>
    </a>
    <a *ngIf="currentUser"
       (mouseenter)="dropdownMenuProducts.openDropdown();"
       (click)="dropdownMenuProducts.toggleDropdown();">
      <i aria-hidden="true" class="material-icons">settings</i>
      <app-dropdown-menu
        #dropdownMenuProducts
        [items]="settings"
        [dropdownParent]="dropdownMenuParent">
        <span i18n="@@landingLayoutTopNav.settings">Settings</span>
        <i aria-hidden="true" class="material-icons">{{
          dropdownMenuProducts.isDropdownOpen ? "expand_less" : "expand_more"
          }}</i>
      </app-dropdown-menu>
    </a>
    <a [routerLink]="URLS.dashboard.myProfile" *ngIf="currentUser">
      <img [src]="profileImg" [class.premium-user]="userIsPremium" alt="profile img" class="profile-img-small yellow-theme"/>
      <span i18n="@@landingLayoutTopNav.myProfile">My Profile</span>
    </a>
  </div>
</nav>
<div [class.landing-layout-top-nav-loading-bar]="loading"></div>
