<nav class="top-nav" #dropdownMenuParent>
  <a [routerLink]="URLS.root"
     class="brand">
    <img [src]="BRAND.logo.main" alt="logo" class="brand-logo" height="40" width="40"/>
    <h2>Open Template Hub</h2>
  </a>
  <div class="left-item-wrapper">
  </div>
  <div class="right-item-wrapper">
    <a [routerLink]="URLS.login" *ngIf="!currentUser">
      <i [class]="'fas fa-fingerprint fa-fw'" aria-hidden="true"></i>
      <span i18n="@@landingLayoutTopNav.login">Login</span>
    </a>
    <a [routerLink]="URLS.signup" *ngIf="!currentUser"
       class="sign-up">
      <i [class]="'fas fa-user-plus fa-fw'" aria-hidden="true"></i>
      <span i18n="@@landingLayoutTopNav.signUp">Sign Up</span>
    </a>
    <a (click)="buy()" *ngIf="currentUser && !userIsPremium" class="yellow-theme" style="color: var(--theme-color);">
      <i [class]="'fas fa-star fa-fw'" aria-hidden="true"></i>
      <span i18n="@@landingLayoutTopNav.premium">Premium</span>
    </a>
    <a *ngIf="currentUser"
       (mouseenter)="dropdownMenuProducts.openDropdown();"
       (click)="dropdownMenuProducts.toggleDropdown();">
      <i [class]="'fas fa-cog fa-fw'" aria-hidden="true"></i>
      <app-dropdown-menu
        #dropdownMenuProducts
        [items]="settings"
        [dropdownParent]="dropdownMenuParent">
        <span i18n="@@landingLayoutTopNav.settings">Settings</span>
        <i [class]="'caret fas fa-fw ' + (!dropdownMenuProducts.isDropdownOpen ? 'fa-chevron-down' : 'fa-chevron-up')"
           aria-hidden="true"></i>
      </app-dropdown-menu>
    </a>
    <a [routerLink]="URLS.dashboard.myProfile" *ngIf="currentUser">
      <img [src]="profileImg" [class.premium-user]="userIsPremium" alt="profile img" class="profile-img-small yellow-theme"/>
      <span i18n="@@landingLayoutTopNav.myProfile">My Profile</span>
    </a>
  </div>
</nav>
<div [class.landing-layout-top-nav-loading-bar]="loading"></div>
