<div class="footer" [class.dark-theme]="darkTheme === 'true'">
  <div>
    <a href="https://furknyavuz.com" target="_blank">
      <i class="material-icons">business</i>
      <span>
        ABOUT US
    </span>
    </a>
    <a href="https://furknyavuz.com" target="_blank">
      <i class="material-icons">work</i>
      <span>
        JOBS
    </span>
    </a>
  </div>
  <div>
    <a href="https://furknyavuz.com" target="_blank">
      <i class="material-icons">chrome_reader_mode</i>
      <span>
        BLOG
    </span>
    </a>
    <a href="https://furknyavuz.com" target="_blank">
      <i class="material-icons">email</i>
      <span>
        CONTACT
    </span>
    </a>
  </div>
  <div>
    <a href="https://github.com/furknyavuz/basic-angular-ui-template" target="_blank">
      <i class="material-icons">code</i>
      <span>
        OPEN SOURCE
    </span>
    </a>
  </div>
</div>
