<div class="footer">
  <a href="https://github.com/open-template-hub" target="_blank" rel="noopener noreferrer">
    <i class="material-icons">business</i>
    <span>
        ABOUT US
    </span>
  </a>
  <a href="https://www.linkedin.com/company/open-template-hub" target="_blank" rel="noopener noreferrer">
    <i class="material-icons">work</i>
    <span>
        JOBS
    </span>
  </a>
  <a href="https://www.linkedin.com/company/open-template-hub" target="_blank" rel="noopener noreferrer">
    <i class="material-icons">chrome_reader_mode</i>
    <span>
        BLOG
    </span>
  </a>
  <a href="https://www.linkedin.com/company/open-template-hub" target="_blank" rel="noopener noreferrer">
    <i class="material-icons">email</i>
    <span>
        CONTACT
    </span>
  </a>
  <a href="https://github.com/open-template-hub/basic-angular-ui-template" target="_blank" rel="noopener noreferrer">
    <i class="material-icons">code</i>
    <span>
        OPEN SOURCE
    </span>
  </a>
</div>
