<div [class.footer-hide-shadow]="hideShadow" [class.footer-popup-padding]="popupPadding" class="footer">
  <div class="footer-links-wrapper">
    <div class="footer-link-column">
      <!--COMPANY-->
      <p i18n="@@footer.company">Company</p>
      <ng-container *ngFor="let companyPage of COMPANY_PAGES">
        <a *ngIf="!companyPage.isExternal" [routerLink]="companyPage.url" class="footer-link-item"> {{ companyPage.name }} </a>
        <app-ext-link *ngIf="companyPage.isExternal"
                      [href]="environmentCommon.website.linkedin.companyUrl + '/' + environmentCommon.oth.social.linkedin + '/jobs'"
                      [linkClass]="'align-flex-start link'">
          <span body> {{ companyPage.name }} </span>
        </app-ext-link>
      </ng-container>
      <!--COMPANY-END-->
    </div>
    <div class="footer-link-column">
      <!--DEVELOPERS-->
      <p i18n="@@footer.developers">Developers</p>
      <ng-container *ngFor="let developersPage of DEVELOPERS_PAGES">
        <a *ngIf="!developersPage.isExternal" [routerLink]="developersPage.url" class="footer-link-item">
          {{ developersPage.name }}
        </a>
        <app-ext-link *ngIf="developersPage.isExternal" [href]="developersPage.url"
                      [linkClass]="'align-flex-start link'">
        <span body> {{ developersPage.name }} </span>
        </app-ext-link>
      </ng-container>
      <!--DEVELOPERS-END-->
    </div>
    <div class="footer-link-column">
      <!--RESOURCES-->
      <p i18n="@@footer.resources">Resources</p>
      <ng-container *ngFor="let resourcePage of RESOURCES_PAGES">
        <a *ngIf="!resourcePage.isExternal" [routerLink]="resourcePage.url" class="footer-link-item">
            {{ resourcePage.name }}
        </a>
        <app-ext-link *ngIf="resourcePage.isExternal" [href]="resourcePage.url"
                      [linkClass]="'align-flex-start link'">
          <span body>{{ resourcePage.name }}</span>
        </app-ext-link>
      </ng-container>
      <!--RESOURCES-END-->
    </div>
  </div>
  <div class="footer-hr-row">
    <hr/>
  </div>
  <div class="footer-brand-row">
    <a class="brand" routerLink="{{URLS.root}}">
      <img [src]="BRAND.logo.main" alt="logo" class="brand-logo" height="40" width="40"/>
      <h2>Open Template Hub <span class="copyright">&#169; 2021</span></h2>
    </a>
    <div class="footer-social">
      <app-ext-link *ngFor="let brandPage of BRAND_PAGES" [href]="brandPage.url">
        <i [class]="'fab fa-' + brandPage.icon + ' fa-2x fa-fw'" aria-hidden="true" body></i>
      </app-ext-link>
    </div>
    <div class="footer-right-element">
      <div class="footer-language">
        <a href="/{{ environmentCommon.languages[0].code }}{{ getCurrentRoute() }}">🇺🇸</a>
        /
        <a href="/{{ environmentCommon.languages[1].code }}{{ getCurrentRoute() }}">🇫🇷</a>
      </div>
      <p>
        {{' v-' + appVersion + ( environment.identity !== 'production' ? '-' + environment.identity : '' )}}
      </p>
      <!-- Do not remove this -->
      <a href="https://opentemplatehub.com">
        <img [src]="poweredBy" alt="powered-by" class="brand-logo" height="40" width="177"/>
      </a>
    </div>
  </div>
</div>
