<div class="forget-password-page">
  <app-card [title]="'Forget password'" *ngIf="!success">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div *ngIf="error">
        {{error}}
      </div>
      <div class="full-width-input">
        <input placeholder="Username" formControlName="username" required>
        <div>
          Please provide a valid username
        </div>
      </div>
      <div class="spinner-wrapper">
        <button [disabled]="loading">
          Send
        </button>
        <div *ngIf="loading"></div>
      </div>
    </form>
  </app-card>
  <app-card [title]="'Password reset email sent'" *ngIf="success">
    <button (click)="router.navigate(['/login'])">Login</button>
  </app-card>
</div>
