<div class="forget-password-page">
  <app-card [title]="'Forget password'" *ngIf="!success">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div *ngIf="error">
        {{error}}
      </div>
      <div class="input-with-icon">
        <input type="text" placeholder="Username" formControlName="username" required>
        <i class="fas fa-user fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <p>
        Please provide a valid username
      </p>
      <button [disabled]="loading">
        Send
      </button>
    </form>
  </app-card>
  <app-card [title]="'Password reset email sent'" *ngIf="success">
    <button (click)="router.navigate(['/login'])">Login</button>
  </app-card>
</div>
