<div class="forget-password-page">
  <app-card1 [title]="'Forget password'" *ngIf="!success">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-with-icon" [class.input-error]="f.username.touched && f.username.invalid">
        <input type="text" placeholder="Username..." formControlName="username" required>
        <i class="fas fa-user fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.username.touched && f.username.invalid">
        <p>
          Please provide a valid username
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="error">
        <p>
          {{error}}
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <app-button1 [text]="'SEND'"></app-button1>
    </form>
  </app-card1>
  <app-card1 [title]="'Password reset email sent'" *ngIf="success">
    <app-button1 (click)="router.navigate(['/login'])" [text]="'LOG IN'"></app-button1>
  </app-card1>
</div>
