<div *ngIf="product?.name !== undefined" class="full-width-cards-wrapper">
  <oth-card [bodyTemplate]="bodyTemplate" [defaultHeaderClass]="'underline yellow-theme'"
            [footerTemplate]="footerTemplate"
            [header]="product.name"
            class="premium-card">

    <!-- Body -->
    <ng-template #bodyTemplate>
      <div class="body">
        <p>
          You have access to premium features!
        </p>
      </div>
    </ng-template>

    <!-- Footer -->
    <ng-template #footerTemplate>
      <div class="footer">
      </div>
    </ng-template>
  </oth-card>
</div>

<div *ngIf="product?.name === undefined" class="cards-wrapper">
  <ng-container>
    <app-pricing-card *ngFor="let pricing of premiumAccountPricingOptions" [pricingFeatures]="premiumAccountPricingFeatures"
                      [pricingOption]="pricing"
                      class="yellow-theme"></app-pricing-card>
  </ng-container>
</div>
