<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="error">
        {{error}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="none">
        <mat-slide-toggle formControlName="rememberMe" color="primary">Remember Me</mat-slide-toggle>
        <textarea matInput hidden></textarea>
      </mat-form-field>
      <div class="spinner-wrapper">
        <button mat-raised-button color="primary" [disabled]="loading">
          Login
        </button>
        <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>
