<oth-card
    *ngIf="mappedCategories"
    [bodyTemplate]="bodyTemplate"
    [footerTemplate]="footerTemplate"
    [headerTemplate]="headerTemplate"
    class="analytics-event-card">
  <ng-template #headerTemplate>
    <div class="header">
      <div class="upper-header-wrapper">
        <h3>Recent Activities</h3>
      </div>
      <div class="filters-wrapper">
        <div class="category-filter-wrapper">
          <i aria-hidden="true" class="fas fa-bars fa-lg fa-fw"></i>
          <select (change)="changeCategory($event)">
            <option *ngFor="let category of categories" [id]="category.id">
              <ng-container *ngIf="category.messages.length > 0">
                {{ category.messages[ 0 ].text }}
              </ng-container>
            </option>
          </select>
        </div>
        <div class="date-filter-wrapper">
          <i aria-hidden="true" class="fas fa-calendar fa-lg fa-fw"></i>
          <input (change)="changeStartDate($event)" [max]="selectedEndDate | date:'yyyy-MM-dd'"
                 [ngModel]="selectedStartDate | date:'yyyy-MM-dd'"
                 type="date">
          <i aria-hidden="true" class="fas fa-arrow-right fa-lg fa-fw"></i>
          <input (change)="changeEndDate($event)" [max]="currentDate | date:'yyyy-MM-dd'"
                 [min]="selectedStartDate | date:'yyyy-MM-dd'"
                 [ngModel]="selectedEndDate | date:'yyyy-MM-dd'" type="date">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #bodyTemplate>
    <div *ngIf="events" class="body">
      <div *ngFor="let event of events; let last = last; let i = index" class="row" id="target{{ i + 1 }}">
        <img [src]="event.payload?.icon ? event.payload.icon : './assets/common/activity.png'" alt="activity icon">
        <div *ngIf="mappedCategories[event.category]" class="column">
          <p class="message">{{ mappedCategories[ event.category ] }}</p>
          <p class="date">{{ timestampToString( event.timestamp ) }}</p>
        </div>
      </div>
      <p *ngIf="events.length === 0" class="empty-body">
        No results found.
      </p>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="footer">
      <div *ngIf="paginationConfig.skip !== undefined && paginationConfig.totalEventCount !== undefined">
        {{ events.length + paginationConfig.skip }} / {{ paginationConfig.totalEventCount }}
      </div>
      <div class="page-routing-wrapper">
        <i (click)="goToPreviousPage()" [class.active-routing-item]="paginationConfig.hasPreviousPage"
           aria-hidden="true" class="fas fa-angle-left"></i>
        <span class="page-count-span">{{ paginationConfig.currentPageCount }}</span>
        <i (click)="goToNextPage()" [class.active-routing-item]="paginationConfig.hasNextPage" aria-hidden="true"
           class="fas fa-angle-right"></i>
      </div>
    </div>
  </ng-template>
</oth-card>
