<div>
  <div class="page">
    <div class="header">
      <app-landing-layout-top-nav></app-landing-layout-top-nav>
    </div>
    <div class="header-filler"></div>
    <app-top-svg></app-top-svg>
    <app-landing-layout-bottom-nav *ngIf="isBottomSvgActive"></app-landing-layout-bottom-nav>
    <div class="page-content">
      <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
    </div>
  </div>
  <app-footer [popupPadding]="true"></app-footer>
  <app-dashboard-layout-bottom-nav *ngIf="currentUser"></app-dashboard-layout-bottom-nav>
  <app-landing-layout-bottom-nav *ngIf="!currentUser"></app-landing-layout-bottom-nav>
  <div [class.landing-layout-page-top-loading-bar]="loading">
  </div>
</div>
