<mat-card>
  <mat-card-content *ngIf="!success">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <h2>Reset Password</h2>
      <mat-error *ngIf="error">
        {{error}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password (min length 6)
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="confirmPassword" required>
        <mat-error>
          Please provide the same value entered above
        </mat-error>
      </mat-form-field>
      <div class="spinner-wrapper">
        <button mat-raised-button color="primary" [disabled]="loading">
          Done
        </button>
        <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="success">
    <h2>Password updated. Proceed with login</h2>
    <button mat-raised-button color="primary" (click)="router.navigate(['/login'])">Login</button>
  </mat-card-content>
</mat-card>

