<div class="dashboard-profile-page">
  <app-card1 [title]="'My Profile'">
    <div fxLayout="column" fxLayoutAlign="center center"
         style="margin-bottom: 1.5rem; margin-top: 0.5rem; overflow-x: auto; text-align: center">

      <input #fileInput (change)="fileChangeEvent($event)" accept="image/*" hidden type="file"/>

      <image-cropper (cropperReady)="cropperReady()"
                     (imageCropped)="imageCropped($event)"
                     (imageLoaded)="imageLoaded()"
                     (loadImageFailed)="loadImageFailed()"
                     [aspectRatio]="1"
                     [imageChangedEvent]="imageChangedEvent"
                     [maintainAspectRatio]="true"
                     [resizeToWidth]="400"
                     format="png"
                     outputType="file"
                     style="max-width: 400px"
      ></image-cropper>

      <div (click)="fileInput.click()" class="profile-page-profile-img-wrapper" style="cursor: pointer">
        <div class="shine circle">
          <img [src]="profileImg" alt="profile img" class="profile-img-full"/>
        </div>
      </div>
      <p>upload a profile picture</p>
      <p>or</p>
      <p>update your profile details below
      </p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="userInfoForm">
      <div [class.input-error]="submitted && f.firstName.invalid" class="input-with-icon">
        <input formControlName="firstName" placeholder="First name..." required type="text">
        <i area-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
      </div>
      <div [class.input-error]="submitted && f.lastName.invalid" class="input-with-icon">
        <input formControlName="lastName" placeholder="Last name..." required type="text">
        <i area-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
      </div>
      <div *ngIf="submitted && f.firstName.invalid" class="error-text alert-with-icon">
        <p>
          Please provide a first name
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
      <div *ngIf="submitted && f.lastName.invalid" class="error-text alert-with-icon">
        <p>
          Please provide a last name
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
      <div *ngIf="error" class="error-text alert-with-icon">
        <p>
          {{error}}
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
      <app-button1 [text]="'DONE'"></app-button1>
      <a href="" routerLink="/dashboard">
        skip for now
      </a>
    </form>
  </app-card1>
</div>
