@import "src/themes";

.dashboard-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.dashboard-profile-page app-card1 {
  display: flex;
  justify-content: center;
}

.profile-page-profile-img-wrapper {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  margin-bottom: 2rem;
  box-shadow: 0 3px 2px var(--shadow);
  border: none;
}
