<div class="form-page-layout">
  <!-- Forget password -->
  <oth-card [bodyTemplate]="bodyTemplate" [defaultHeaderClass]="'underline'" [header]="'Reset Password'">
    <!-- Body -->
    <ng-template #bodyTemplate>
      <div *ngIf="!success" class="body">
        <form (ngSubmit)="onSubmit()" [formGroup]="forgetPasswordForm">
          <div class="section">
            <div [class.error-input]="submitted && forgetPasswordForm.controls.username.invalid"
                 class="input-with-icon">
              <input formControlName="username" i18n-placeholder="@@forgetPasswordForm.username.placeholder"
                     placeholder="Username..." required type="text">
              <i aria-hidden="true" class="fas fa-user fa-lg fa-fw"></i>
            </div>
          </div>
          <div class="section-submit">
            <oth-button i18n-text="@@forgetPasswordForm.send" text="SEND"></oth-button>
          </div>
        </form>
      </div>
      <div *ngIf="success" class="body">
        <div class="section">
          <h3 i18n="@@forgetPasswordForm.success.1">'Reset email sent!'</h3>
          <h3 i18n="@@forgetPasswordForm.success.2">'Please check you inbox'</h3>
          <br/>
          <br/>
          <oth-button (click)="router.navigate(['/login'])" i18n-text="@@forgetPasswordForm.logIn.button"
                      text="LOG IN"></oth-button>
        </div>
      </div>
    </ng-template>
  </oth-card>
</div>
