.button4 {
  padding-left: 1px;
  padding-top: 1px;
  border-radius: 0;
  font-weight: 300;
  font-size: 18px;
  width: 60px;
  height: 60px;
  background-color: var(--social);
  border: 0;
  border-bottom: 2px solid;
  border-bottom-color: var(--card);
  color: whitesmoke;
  cursor:pointer;
  transition: 400ms ease-out;
  margin: 0.5rem 0.75rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.button4.button4-with-text {
  width: auto;
  padding: 0 1.1rem;
}

.button4.button4-with-text i {
  margin-right: 0.7rem;
}

.button4 i {
  font-weight: 300;
  font-size: 36px;
}

.button4:disabled {
  pointer-events: none;
  filter: opacity(60%);
}

// Social

.linkedin-in.button4 {
  --social: var(--linkedin);
}

.facebook-f.button4 {
  --social: var(--facebook);
}

.twitter.button4 {
  --social: var(--twitter);
}

.google.button4 {
  --social: var(--google);
}

.github.button4 {
  --social: var(--github);
}

.dribbble.button4 {
  --social: var(--dribbble);
}

.instagram.button4 {
  --social: var(--instagram);
}

.button4-checked.button4 {
  box-shadow:0 4px 7px 0 var(--social);
  border-bottom-color: var(--social);
  background-color: whitesmoke;
  color: var(--social);
}

@media (hover:hover) {

  .button4:hover {
    box-shadow:0 4px 7px 0 var(--social);
    background-color: whitesmoke;
    border-bottom-color: var(--social);
    color: var(--social);
  }
}
