.button4 {
  padding-left: 1px;
  padding-top: 1px;
  border-radius: 0;
  font-weight: 300;
  font-size: 20px;
  width: 60px;
  height: 60px;
  background: var(--social);
  border: 0;
  border-bottom: 2px solid;
  border-bottom-color: var(--card);
  color: whitesmoke;
  cursor:pointer;
  transition: 400ms ease-out;
  margin: 0.5rem 0.75rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.button4.button4-with-text {
  width: auto;
  padding: 0 1.1rem;
}

.button4.button4-with-text i {
  margin-right: 0.7rem;
}

.button4 i {
  font-weight: 300;
  font-size: 42px;
}

.button4:disabled {
  pointer-events: none;
  filter: opacity(60%);
}

// Social

.twitter.button4 {
  --social: var(--twitter);
}

.google.button4 {
  --social: var(--google);
}

.facebook-f.button4 {
  --social: var(--facebook);
}

.linkedin-in.button4 {
  --social: var(--linkedin);
}

.vk.button4 {
  --social: var(--vk);
}

.gitlab.button4 {
  --social: var(--gitlab);
}

.twitch.button4 {
  --social: var(--twitch);
}

.dribbble.button4 {
  --social: var(--dribbble);
}

.reddit-alien.button4 {
  --social: var(--reddit);
}

.pinterest.button4 {
  --social: var(--pinterest);
}

.yandex.button4 {
  --social: var(--yandex);
}

.github.button4 {
  --social: var(--github);
}

.button4-checked.button4 {
  box-shadow:0 4px 7px 0 var(--social);
  border-bottom-color: var(--social);
  background: whitesmoke;
  color: var(--social);
}

@media (hover:hover) {

  .button4:hover {
    box-shadow:0 4px 7px 0 var(--social);
    background: whitesmoke;
    border-bottom-color: var(--social);
    color: var(--social);
  }
}
