@import '../../../themes';

.home-page {
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.hero {
  text-align: center;
  max-width: 90vw;
  margin-bottom: 25vh;
}

.hero h1 {
  margin-bottom: 3vh;
}

.features {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin-right: 22vw;
}

.features h2 {
  margin-bottom: 1vh;
}
