<div class="contribution-page">
  <div *ngIf="contribution">
    <div class="contribution">
      <app-contribution-card [maxHeight]="true" [profileImg]="!isProfileImageLoading ? profileImg : PROFILE_IMG"
                             [addMarginToDescription]="true" [fillLayout]="true" [contribution]="contribution"
                             [centeredTitle]="true" [isEditable]="!!contribution?.attendees" (itemIdForFillingForm)="fillForm()"
                             [inProgress]="contribution.inProgress" [completed]="completed"></app-contribution-card>
    </div>
  </div>
  <div *ngIf="contribution?.attendees" class="attendees-container">
    <h2 style="text-align: center;">Attendees</h2>
    <div class="attendees-area">
      <div *ngFor="let user of contribution.attendees" class="attendees-name-area">
        <a [href]="URLS.user.root + '/' + user">
          {{ user }}
        </a>
      </div>
      <h3 *ngIf="contribution?.attendees.length === 0" class="dim">None</h3>
    </div>
  </div>
</div>
