<div class="login-page">
  <app-card [title]="'Log in'">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="error">
        {{error}}
      </div>
      <div class="full-width-input">
        <input placeholder="Username" formControlName="username" required>
        <div>
          Please provide a valid username
        </div>
      </div>
      <div class="full-width-input">
        <input type="password" placeholder="Password" formControlName="password" required>
        <div>
          Please provide a valid password
        </div>
      </div>
      <div>
        <div>Remember Me</div>
        <textarea hidden></textarea>
      </div>
      <div class="spinner-wrapper">
        <button [disabled]="loading">
          Login
        </button>
        <div *ngIf="loading"></div>
      </div>
    </form>
    <div>
      <a href="" routerLink="/forget-password">
        Forget password?
      </a>
    </div>
  </app-card>
</div>
