<div class="login-page">
  <app-card1 [title]="'Log in'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-button3 [rounded]="true" [brand]="'facebook'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'github'"></app-button3>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="margin-bottom: 2rem;">
      <p>or</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-with-icon" [class.input-error]="f.username.touched && f.username.invalid">
        <input type="text" placeholder="Username..." formControlName="username" required>
        <i class="fas fa-user fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="f.password.touched && f.password.invalid">
        <input type="password" placeholder="Password..." formControlName="password" required>
        <i class="fas fa-lock fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-checkbox">
        <label class="input-checkbox-label">
          <input type="checkbox" formControlName="rememberMe">
          <span></span>
          <p>Remember Me</p>
        </label>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.username.touched && f.username.invalid">
        <p>
          Please provide a valid username
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.password.touched && f.password.invalid">
        <p>
          Please provide a valid password
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="error">
        <p>
          {{error}}
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <app-button1 [text]="'LOG IN'"></app-button1>
      <a href="" routerLink="/forget-password">
        Forget password?
      </a>
    </form>
  </app-card1>
</div>
