<div class="edit-security-page">
    <h2>Edit Security</h2>

    <!--Two factor authentication section-->
    <div class="two-factor-wrapper">
        <app-card *ngIf="twoFactorVerificationState" [bodyTemplate]="bodyTemplate">
            <!-- Body -->
            <ng-template #bodyTemplate>
                <form (ngSubmit)="onPhoneNumberSubmit()" [formGroup]="form" class="phone-number-form">
                    <div class="section">
                        <div *ngIf="twoFactorVerificationState === 'request' || twoFactorVerificationState === 'verify' || twoFactorVerificationState === 'expired'" [class.error-input]="submitted && form.controls.phoneNumber.invalid" class="input-with-icon phone-number-request-input-wrapper">
                            <input formControlName="phoneNumber" placeholder="Phone Number" type="text">
                            <i aria-hidden="true" class="fas fa-phone fa-lg fa-fw"></i>
                        </div>
                        <div *ngIf="twoFactorVerificationState === 'verify' || twoFactorVerificationState === 'expired'" class="input-with-icon phone-number-verify-input-wrapper">
                            <app-second-counter
                                [timeLeft]="timeLeft < 0 ? 0 : timeLeft"
                                [totalTime]="totalTime">
                            </app-second-counter>
                            <input formControlName="verificationCode" autocomplete="one-time-code" placeholder="Verification Code" type="text">
                            <i aria-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
                        </div>
                        <div *ngIf="twoFactorVerificationState === 'verified'" class="input-with-icon verified-phone-number-wrapper">
                            <p>{{ submittedPhoneNumber }}</p>
                            <i aria-hidden="true" class="fas fa-phone fa-lg fa-fw"></i>
                        </div>
                    </div>

                    <div class="section-submit">
                        <app-button *ngIf="twoFactorVerificationState === 'request' || twoFactorVerificationState === 'verify'" text="Submit"></app-button>
                        <app-button *ngIf="twoFactorVerificationState === 'expired'" text="Retry" (click)="retry()" [buttonClasses]="['information-button']"></app-button>
                        <app-button *ngIf="twoFactorVerificationState === 'verified'" (click)="deleteSubmittedPhoneNumber()" text="Delete" [buttonClasses]="['error-background-color']"></app-button>
                    </div>
                </form>
            </ng-template>
        </app-card>
    </div>
</div>

