.edit-security-page {
    width: 650px;
    & .phone-number-form {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        & .section {
            & div {
                margin-right: 10px;

            }

            & p {
                font-size: 15px;
            }
        }

        & .section-submit {
            align-items: flex-start;
        }

    }
}