<nav [class.dark-theme]="darkTheme === 'true'" [class.side-nav-closed]="sideNavClosed === 'true'" class="side-nav">
  <a (click)="toggleSideNav()" *ngIf="currentUser" class="brand" href="javascript:void(0)">
    <img [src]="brand.brandLogo" alt="" class="brand-logo" height="logo" width="40"/>
    <h2>UI Template</h2>
  </a>
  <a *ngIf="currentUser" routerLink="/dashboard/profile">
    <img [src]="profileImg" alt="profile img" class="profile-img-badge"/>
    <span>
        MY PROFILE
    </span>
  </a>
  <a routerLink="/dashboard">
    <i class="material-icons">dashboard</i>
    <span>
        DASHBOARD
    </span>
  </a>
  <a (click)="switchTheme()" *ngIf="currentUser" href="javascript:void(0)">
    <i class="material-icons">invert_colors</i>
    <span>
        THEME
    </span>
  </a>
  <a *ngIf="!currentUser" routerLink="/signup">
    <i class="material-icons">person_add</i>
    <span>
        REGISTER
    </span>
  </a>
  <a *ngIf="!currentUser" routerLink="/login">
    <i class="material-icons">fingerprint</i>
    <span>
        LOGIN
    </span>
  </a>
  <a (click)="logout()" *ngIf="currentUser" href="javascript:void(0)">
    <i class="material-icons">exit_to_app</i>
    <span>
        LOGOUT
    </span>
  </a>
</nav>
