.button3 {
  padding-left: 1px;
  padding-top: 1px;
  border: none;
  border-radius: 3px;
  font-weight: 300;
  font-size: 18px;
  width: 55px;
  height: 55px;
  background-color: var(--color);
  color: whitesmoke;
  cursor:pointer;
  transition: 200ms ease;
  margin: 0.5rem 0.25rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button3.button3-with-text {
  width: auto;
  padding: 0 1.1rem;
}

.button3.button3-with-text i {
  margin-right: 0.7rem;
}

.button3.button3-rounded {
  border-radius: 100%;
}

.button3 i {
  font-weight: 300;
  font-size: 32px;
}

.button3:disabled {
  background-color: var(--lighter);
  pointer-events: none;
}

// Social

.linkedin.button3 {
  background-color: #007bb6;
}

.facebook.button3 {
  background-color: #3b5998;
}

.twitter.button3 {
  background-color: #00aced;
}

.google.button3 {
  background-color: #4286f5;
}

.github.button3 {
  background-color: #171515;
}

.dribbble.button3 {
  background-color: #ea4c89;
}

.instagram.button3 {
  background-color: #125688;
}

@media (hover:hover) {

  .button3:hover {
    box-shadow:0 4px 5px 0 var(--shadow);
    color: white;
  }
}
