<div class="home-page">
  <div class="hero">
    <img class="brand-logo" height="100" [src]="brand.brandLogo"/>
    <h1>UI Template</h1>
    <h6>Angular UI template with basic sign-up and login functionality</h6>
  </div>

  <div class="features">
    <h2>Features</h2>
    <h6 class="sub-description">- Register</h6>
    <h6 class="sub-description">- Login</h6>
    <h6 class="sub-description">- Social login (OAuth 1 and OAuth 2)</h6>
    <h6 class="sub-description">- E-mail verification</h6>
  </div>
</div>
