@import 'src/themes';

.home-page {
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
}

.hero {
  text-align: center;
  max-width: 90vw;
  margin-bottom: 25vh;
}

.hero h1 {
  margin-bottom: 3vh;
}

.features {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  padding-left: 10vw;
}

.features h2 {
  margin-bottom: 1vh;
}

@media only screen and (max-width: 799px) {
  .home-page {
    font-size: 25px;
  }
}

@media only screen and (min-width: 800px) {
  .home-page {
    font-size: 36px;
  }
}
