@use '../../../../styles/page/page';
@use '../../../../styles/util/util';
@use '../landing-layout.component';
@use '../../../component/card/card.component';

.hero {
  @include util.flex-layout-row;
  @include util.margin-x-auto;

  align-items: center;
  justify-content: space-evenly;

  width: 100%;

  padding-top: 7vh;

  text-align: center;

  & .hero-left {
    @include util.flex-layout-column;
    @include util.flex-center-center;
    & p {
      font-size: 24px;
    }

    & app-button {
      padding: 25px;
    }
  }
}

.counters {
  @include util.flex-layout-row;
  @include util.flex-center-center;
  @include util.margin-x-auto;

  & .ratio {
    @include util.flex-layout-row;
    @include util.flex-center-center;
    @include util.margin-x-auto;
  }

  & .counter-wrapper {
    @include util.flex-layout-column;
    @include util.flex-center-center;

    text-align: center;
    width: 100%;

    & .counter {
      color: var(--theme-color-darker-1);
      font-weight: 400;
    }

    & .loader {
      padding: 16px;
    }

    & .description {
      width: auto;
      margin: 5px 30px 0;
      padding-bottom: 12px;
      border-bottom: 2px solid var(--theme-color-darker-1);
    }
  }
}

@media only screen and (max-width: 999px) {
  .hero {
    max-width: 94vw;
    flex-direction: column;

    font-size: 25px;

    & .hero-left {
      & h2 {
        padding: 30px 0;
      }

      & p {
        font-size: 18px;
      }

      & app-button {
        padding: 25px;
      }
    }

    & > * {
      width: 94vw;
      margin-bottom: 40px;
    }
  }

  .counters {
    width: 100%;
    flex-direction: column;
    padding: 50px 0;

    & .counter-wrapper {
      min-height: 120px;
      padding-top: 10px;

      & .counter {
        font-size: 28px;
      }

      & .description {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    flex-direction: row;
    padding-bottom: 50px;

    box-sizing: border-box;

    padding-left: 100px;
    padding-right: 100px;

    & .hero-left {
      font-size: 38px;
      max-width: 50%;
      min-width: 450px;
      padding-bottom: 50px;

      & h2 {
        padding: 40px 0;
      }
    }
  }

  .counters {
    box-sizing: border-box;
    padding: 180px 50px 50px;
    width: 1000px;

    & .counter-wrapper {
      & .counter {
        font-size: 33px;
      }

      & .description {
        font-size: 21px;
      }
    }
  }
}
