<div class="sign-up-page">
  <app-card1 [title]="'Register'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-social-button [brand]="environment.social.facebook.cssClass" (click)="socialLogin(environment.social.facebook.tag)"></app-social-button>
      <app-social-button [brand]="environment.social.dribbble.cssClass" (click)="socialLogin(environment.social.dribbble.tag)"></app-social-button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="margin-bottom: 1.5rem; margin-top: 0.5rem;">
      <p>or</p>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="input-with-icon" [class.input-error]="submitted && f.username.invalid">
        <input type="text" placeholder="Username..." formControlName="username" required>
        <i class="fas fa-user fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="submitted && f.email.invalid">
        <input type="email" placeholder="Email..." formControlName="email" required>
        <i class="fas fa-envelope fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="submitted && f.password.invalid">
        <input type="password" placeholder="Password..." formControlName="password" required>
        <i class="fas fa-lock fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="submitted && f.confirmPassword.invalid">
        <input type="password" placeholder="Confirm Password..." formControlName="confirmPassword" required>
        <i class="fas fa-lock fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text alert-with-icon" *ngIf="submitted && f.username.invalid">
        <p>
          Please provide a valid username
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text alert-with-icon" *ngIf="submitted && f.email.invalid">
        <p>
          Please provide a valid email address
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text alert-with-icon" *ngIf="submitted && f.password.invalid">
        <p>
          Please provide a valid password (min length 6)
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text alert-with-icon" *ngIf="submitted && f.confirmPassword.invalid">
        <p>
          Please provide the same value for confirm password
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text alert-with-icon" *ngIf="error">
        <p>
          {{error}}
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <app-button1 [text]="'GET STARTED'"></app-button1>
    </form>
  </app-card1>
</div>
