<div class="sign-up-page">
  <app-card [title]="'Register'">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="input-with-icon" [class.input-error]="f.username.touched && f.username.invalid">
        <input type="text" placeholder="Username..." formControlName="username" required>
        <i class="fas fa-user fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="f.email.touched && f.email.invalid">
        <input type="email" placeholder="Email..." formControlName="email" required>
        <i class="fas fa-envelope fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="f.password.touched && f.password.invalid">
        <input type="password" placeholder="Password..." formControlName="password" required>
        <i class="fas fa-lock fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="f.confirmPassword.touched && f.confirmPassword.invalid">
        <input type="password" placeholder="Confirm Password..." formControlName="confirmPassword" required>
        <i class="fas fa-lock fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.username.touched && f.username.invalid">
        <p>
          Please provide a valid username
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.email.touched && f.email.invalid">
        <p>
          Please provide a valid email address
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.password.touched && f.password.invalid">
        <p>
          Please provide a valid password (min length 6)
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid">
        <p>
          Please provide the same value entered above
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="error">
        <p>
          {{error}}
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <button>
        GET STARTED
      </button>
    </form>
  </app-card>
</div>
