<div [class.side-nav-closed]="sideNavClosed === 'true'" class="side-nav-wrapper">
  <nav class="side-nav">
    <a (click)="toggleSideNav()" class="brand" href="javascript:void(0)">
      <img [src]="BRAND.logo.main" alt="logo" class="brand-logo" width="40"/>
      <h2 class="side-nav-brand-text">Open Template Hub</h2>
    </a>
    <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right"
       routerLink="{{URLS.dashboard.myProfile}}"
       show-delay="500"
       tooltip="my profile">
      <img [src]="profileImg" alt="profile img" class="profile-img-small yellow-theme" [class.premium-user]="userIsPremium"/>
      <span *ngIf="sideNavClosed === 'false'">
        MY PROFILE
    </span>
    </a>
    <a *ngIf="currentUser && !userIsPremium" [display]="sideNavClosed==='true'" placement="right"
       (click)="buy()"
       show-delay="500"
       tooltip="my profile">
      <i aria-hidden="true" class="material-icons yellow-theme" style="color: var(--theme-color)">star</i>
      <span *ngIf="sideNavClosed === 'false'">
        PREMIUM
      </span>
    </a>
    <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right"
       routerLink="{{URLS.dashboard.root}}"
       show-delay="500" tooltip="dashboard">
      <i aria-hidden="true" class="material-icons">dashboard</i>
      <span *ngIf="sideNavClosed === 'false'">
        DASHBOARD
    </span>
    </a>
    <a (click)="openSettings = !openSettings" *ngIf="currentUser" [display]="sideNavClosed==='true'"
       href="javascript:void(0)"
       placement="right" show-delay="500" tooltip="settings">
      <i aria-hidden="true" class="material-icons">settings</i>
      <span *ngIf="sideNavClosed === 'false'">
        SETTINGS
    </span>
    </a>
    <div *ngIf="openSettings" class="side-nav-sub">
      <a *ngIf="currentUser" [display]="sideNavClosed==='true'" placement="right"
         routerLink="{{URLS.settings.editProfile}}"
         show-delay="500" tooltip="edit profile">
        <i aria-hidden="true" class="material-icons">person</i>
        <span *ngIf="sideNavClosed === 'false'">
        EDIT PROFILE
      </span>
      </a>
      <a (click)="logout()" *ngIf="currentUser && openOtherSettings" [display]="sideNavClosed==='true'"
         href="javascript:void(0)"
         id=logout placement="right" show-delay="500" tooltip="logout">
        <i aria-hidden="true" class="material-icons">exit_to_app</i>
        <span *ngIf="sideNavClosed === 'false'">
          LOGOUT
        </span>
      </a>
      <a (click)="openOtherSettings = !openOtherSettings" *ngIf="currentUser" href="javascript:void(0)"
         id=more-settings>
        <i aria-hidden="true" class="material-icons">{{!openOtherSettings ? 'expand_more' : 'expand_less'}}</i>
        <span *ngIf="sideNavClosed === 'false'">
          {{!openOtherSettings ? 'MORE' : 'LESS'}}
        </span>
      </a>
    </div>
    <a *ngIf="!currentUser" routerLink="{{URLS.signup}}">
      <i aria-hidden="true" class="material-icons">person_add</i>
      <span *ngIf="sideNavClosed === 'false'">
        REGISTER
      </span>
    </a>
    <a *ngIf="!currentUser" class="login" routerLink="{{URLS.login}}">
      <i aria-hidden="true" class="material-icons">fingerprint</i>
      <span *ngIf="sideNavClosed === 'false'">
        LOG IN
      </span>
    </a>
    <a (click)="toggleSideNav()" href="javascript:void(0)" id=menu>
      <i aria-hidden="true" class="material-icons">menu</i>
      <span>
      </span>
    </a>
  </nav>
</div>
