<svg viewBox="0 0 1000 500" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" preserveAspectRatio="none">
  <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
  <g class="layer">
    <title>Layer 1</title>
    <path d="m0,189l0,310l655,-78l-585,-84l-70,-148z" fill="var(--theme-color-lighter-2)" id="svg_7"/>
    <path d="m413,450l416,-9l-178,-21l-238,30z" fill="var(--theme-color-lighter-5)" id="svg_8"/>
    <path d="m-1,186l-2,64l18,-30l-16,-34z" fill="var(--theme-color-lighter-5)" id="svg_9"/>
  </g>
</svg>
