@import '../../../themes';

.footer {
  display: flex;
  padding: 15px 35px;
  justify-content: space-evenly;
  box-shadow: 5px 0 30px map_get($basic-angular-ui-template-primary, "dark-shadow");
  background-color: map_get($basic-angular-ui-template-primary, "bg-light");
}

.dark-theme.footer {
  box-shadow: 5px 0 30px map_get($basic-angular-ui-template-primary, "light-shadow");
  background-color: map_get($basic-angular-ui-template-primary, "bg-dark");
}

.footer a {
  max-width: 33vh;
  display: flex;
  align-items: center;
  padding: 5px;
}

.footer a i {
  margin-right: 10px;
}

@media only screen and (max-width: 799px) {
  .footer {
    margin-bottom: 55px;
  }
}

@media only screen and (min-width: 800px) {
  .footer {
    margin-bottom: 0;
  }
}

@media (hover:hover) {

  .footer a:hover {
    background: none;
  }

  .dark-theme .footer a:hover {
  }
}
