@use '../../../../styles/util/util';
@use 'node_modules/@open-template-hub/card/styles/card/card';

.profile-card {

  & .header {

    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    text-align: center;

    & p {
      font-size: 18px;

      margin-top: 10px;

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  & .body {

    justify-content: flex-start;

    padding: 0px 20px 50px;

    & .key-value-area {
      display: flex;
      margin-top: 30px;

      & .key {
        width: -webkit-fill-available;
        text-align: right;
        color: var(--lighter-contrast);
        font: {
          size: 20px;
        }
      }

      & .value {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
        width: 100%;
        text-align: left;

        font: {
          size: 18px;
        }

        & .website {
          color: var(--theme-color-lighter-4);
        }
      }
    }
  }

  & .footer {
    @include card.default-footer;
    @include card.default-footer-border-color;
    @include util.flex-layout-row;

    & .social-area {
      display: flex;

      & i {
        color: var(--theme-color-lighter-6);

        margin: 0 3px;
        font-size: 27px;

        &:hover {
          color: var(--theme-color);
        }
      }

      & p {
        color: var(--lighter-contrast);
        margin-right: 20px;
        font-size: 17px;
        margin-top: 5px;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .profile-card {
    & .body {
      & .key-value-area {
        flex-direction: column;

        & .key {
          text-align: center;
        }

        & .value {
          text-align: center;
          margin-left: 0;
        }
      }
    }

    & .footer {
      & .social-area {
        & p {
          display: none;
        }
      }
    }
  }
}
