<div class="dashboard-page">
  <app-card1 [title]="'Dashboard'">
    <h3>Access Token</h3>
    <p>{{currentUser.accessToken}}</p>
    <h3>Refresh Token</h3>
    <p>{{currentUser.refreshToken}}</p>
    <div>
      <app-button3 [brand]="'linkedin-in'" [text]="'LinkedIn'"></app-button3>
      <app-button3 [brand]="'linkedin-in'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'linkedin-in'"></app-button3>
    </div>
    <div>
      <app-button3 [brand]="'facebook-f'" [text]="'facebook'"></app-button3>
      <app-button3 [brand]="'facebook-f'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'facebook-f'"></app-button3>
    </div>
    <div>
      <app-button3 [brand]="'twitter'" [text]="'twitter'"></app-button3>
      <app-button3 [brand]="'twitter'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'twitter'"></app-button3>
    </div>
    <div>
      <app-button3 [brand]="'google'" [text]="'google'"></app-button3>
      <app-button3 [brand]="'google'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'google'"></app-button3>
    </div>
    <div>
      <app-button3 [brand]="'github-alt'" [text]="'github'"></app-button3>
      <app-button3 [brand]="'github-alt'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'github-alt'"></app-button3>
    </div>
    <div>
      <app-button3 [brand]="'dribbble'" [text]="'dribbble'"></app-button3>
      <app-button3 [brand]="'dribbble'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'dribbble'"></app-button3>
    </div>
    <div>
      <app-button3 [brand]="'instagram'" [text]="'instagram'"></app-button3>
      <app-button3 [brand]="'instagram'"></app-button3>
      <app-button3 [rounded]="true" [brand]="'instagram'"></app-button3>
    </div>
  </app-card1>
</div>
