<div class="dashboard-page">
  <app-card1 [title]="'Dashboard'">
    <div fxLayout="column" *ngIf="userInfo">
      <app-label-data [label]="'Username'" [data]="userInfo.username"></app-label-data>
      <app-label-data *ngIf="userInfo.email" [label]="'Email'" [data]="userInfo.email"></app-label-data>
      <app-label-data *ngIf="userInfo?.payload?.firstName" [label]="'First Name'" [data]="userInfo.payload.firstName"></app-label-data>
      <app-label-data *ngIf="userInfo?.payload?.lastName" [label]="'Last Name'" [data]="userInfo.payload.lastName"></app-label-data>
      <app-button1 (click)="buy()" [text]="'BUY WITH STRIPE'"></app-button1>

      <div class="error-text alert-with-icon" *ngIf="error">
        <p>
          {{error}}
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
    </div>
  </app-card1>
</div>
