<div class="dashboard-page">
  <app-card1 [title]="'Dashboard'">
    <div fxLayout="column" fxLayoutAlign="center center"
         style="margin-bottom: 1.5rem; margin-top: 0.5rem; overflow-x: auto; text-align: center">
      <div class="profile-page-profile-img-wrapper">
        <img [src]="profileImg" alt="profile img" class="profile-img-full"/>
      </div>
    </div>

    <div *ngIf="userInfo" fxLayout="column">
      <app-label-data [data]="userInfo.username" [label]="'Username'"></app-label-data>
      <app-label-data *ngIf="userInfo.email" [data]="userInfo.email" [label]="'Email'"></app-label-data>
      <app-label-data *ngIf="userInfo?.payload?.firstName" [data]="userInfo.payload.firstName"
                      [label]="'First Name'"></app-label-data>
      <app-label-data *ngIf="userInfo?.payload?.lastName" [data]="userInfo.payload.lastName"
                      [label]="'Last Name'"></app-label-data>
    </div>

    <div fxLayout="column">
      <div *ngIf="error" class="error-text alert-with-icon">
        <p>
          {{error}}
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
    </div>
  </app-card1>
  <app-card1 *ngIf="!premium && responseProcessed" [title]="'Get Premium'">
    <div fxLayout="column" fxLayoutAlign="center center">
      <app-social-button (click)="buyPremium(environment.payment.stripe)" [brand]="environment.social.stripe.cssClass"
                         [text]="'Pay with Stripe'"></app-social-button>
      <app-social-button (click)="buyPremium(environment.payment.coinbase)"
                         [brand]="environment.social.coinbase.cssClass"
                         [placeholderIcon]="'bitcoin'"
                         [text]="'Pay with Coinbase'"></app-social-button>
      <app-social-button (click)="buyPremium(environment.payment.paypal)" [brand]="environment.social.paypal.cssClass"
                         [text]="'Pay with PayPal'"></app-social-button>
    </div>

    <div fxLayout="column">
      <div *ngIf="error" class="error-text alert-with-icon">
        <p>
          {{error}}
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
    </div>
  </app-card1>
  <app-card1 *ngIf="premium" [title]="'Premium'">
    <div fxLayout="column">
      <label>Enjoy your premium!</label>
    </div>
  </app-card1>
</div>
