@import "src/themes";

.dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.dashboard-page app-card1 {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
