.card {
  border-radius: 3px;
  box-shadow:5px 0 30px var(--shadow);
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  border-radius: 3px;
  background-color: var(--color);
  box-shadow:0 0 5px 0 var(--color);
  max-width: 92%;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-header h1, .card-header h2, .card-header h3, .card-header h4, .card-header h5, .card-header h6 {
  color: var(--contrast);
}

.card-content {
  margin-top: 3rem;
  padding: 1.25rem;
}

@media only screen and (max-width: 799px) {
  .card {
    min-width: 95vw;
  }
}

@media only screen and (min-width: 800px) {
  .card {
    min-width: 435px;
  }
}
