.card1 {
  border-radius: 6px;
  box-shadow: 5px 0 30px var(--shadow);
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card1-header {
  border-radius: 3px;
  background-color: var(--color);
  box-shadow: 0 4px 5px 0 var(--shadow);
  max-width: 92%;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
}

.card1-header h1, .card1-header h2, .card1-header h3, .card1-header h4, .card1-header h5, .card1-header h6 {
  color: var(--contrast);
}

.card1-content {
  padding: 1.25rem;
  overflow-x: auto;
  white-space: nowrap;
}

@media only screen and (max-width: 799px) {
  .card1 {
    min-width: 95vw;
    width: 95vw;
  }
}

@media only screen and (min-width: 800px) {
  .card1 {
    min-width: 400px;
    width: auto;
  }
}
