<div class="form-page-layout">
    <!-- Welcome -->
    <oth-hero [contents]="appHeroContents"></oth-hero>
    <app-card [bodyTemplate]="bodyTemplate">
      <!-- Body -->
      <ng-template #bodyTemplate>
        <div class="body">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="section">
              <p>Two factor authentication code sent to {{ maskedPhoneNumber }}</p>
              <div [class.error-input]="submitted && form.controls.verificationCode.invalid" class="input-with-icon">
                <app-countdown
                  [timeLeft]="timeLeft < 0 ? 0 : timeLeft"
                  [totalTime]="totalTime">
                </app-countdown>
                <input formControlName="verificationCode" autocomplete="one-time-code" placeholder="Code" required type="text">
                <i aria-hidden="true" class="fas fa-key fa-lg fa-fw"></i>
              </div>
            </div>
            <div class="section-submit">
              <app-button i18n-text="@@loginPage.loginButton" text="SUBMIT"
                [buttonClasses]="timeLeft <= 0 ? ['lighter-contrast-background-color', 'disabled-hover'] : []"></app-button>
            </div>
          </form>
        </div>
      </ng-template>
    </app-card>
  </div>
  <app-cookies></app-cookies>


