<nav class="bottom-nav">
  <a [routerLink]="URLS.root">
    <i [class]="'fas fa-home fa-fw'" aria-hidden="true"></i>
    <span> Home </span>
  </a>
  <a [href]="environmentCommon.website.github.url + '/' + environmentCommon.oth.social.github" [target]="'_blank'">
    <i [class]="'fab fa-github fa-fw'" aria-hidden="true"></i>
    <span> GitHub </span>
  </a>
  <a [routerLink]="URLS.contactUs">
    <i [class]="'fas fa-envelope fa-fw'" aria-hidden="true"></i>
    <span> Contact Us </span>
  </a>
  <a [routerLink]="URLS.login">
    <i [class]="'fas fa-fingerprint fa-fw'" aria-hidden="true"></i>
    <span> Log In </span>
  </a>
  <a [routerLink]="URLS.signup" class="sign-up">
    <i [class]="'fas fa-user-plus fa-fw'" aria-hidden="true"></i>
    <span> Sign Up </span>
  </a>
</nav>
