<div class="reset-password-page">
  <app-card [title]="'Reset password'" *ngIf="!success">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-with-icon" [class.input-error]="f.password.touched && f.password.invalid">
        <input type="password" placeholder="Password" formControlName="password" required>
        <i class="fas fa-key fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="input-with-icon" [class.input-error]="f.confirmPassword.touched && f.confirmPassword.invalid">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
        <i class="fas fa-key fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.password.touched && f.password.invalid">
        <p>
          Please provide a valid password (min length 6)
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid">
        <p>
          Please provide the same value entered above
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <div class="error-text error-with-icon" *ngIf="error">
        <p>
          {{error}}
        </p>
        <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
      </div>
      <button>
        Done
      </button>
    </form>
  </app-card>
  <app-card [title]="'Password updated'" *ngIf="success">
    <p>Please proceed with login</p>
    <button (click)="router.navigate(['/login'])">Login</button>
  </app-card>
</div>

