<div class="reset-password-page">
  <app-card1 *ngIf="!success" [title]="'Reset password'">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <div [class.input-error]="submitted && f.password.invalid" class="input-with-icon">
        <input formControlName="password" placeholder="Password..." required type="password">
        <i area-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
      </div>
      <div [class.input-error]="submitted && f.confirmPassword.invalid" class="input-with-icon">
        <input formControlName="confirmPassword" placeholder="Confirm Password..." required type="password">
        <i area-hidden="true" class="fas fa-lock fa-lg fa-fw"></i>
      </div>
      <div *ngIf="submitted && f.password.invalid" class="error-text alert-with-icon">
        <p>
          Please provide a valid password (min length 6)
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
      <div *ngIf="submitted && f.confirmPassword.invalid" class="error-text alert-with-icon">
        <p>
          Please provide the same value for confirm password
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
      <div *ngIf="error" class="error-text alert-with-icon">
        <p>
          {{error}}
        </p>
        <i area-hidden="true" class="fas fa-exclamation-triangle fa-lg fa-fw"></i>
      </div>
      <app-button1 [text]="'DONE'"></app-button1>
    </form>
  </app-card1>
  <app-card1 *ngIf="success" [title]="'Password updated'">
    <p>Please proceed with login</p>
    <app-button1 (click)="router.navigate(['/login'])" [text]="'LOG IN'"></app-button1>
  </app-card1>
</div>

