<div class="reset-password-page">
  <app-card [title]="'Reset password'" *ngIf="!success">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div *ngIf="error">
        {{error}}
      </div>
      <div class="full-width-input">
        <input type="password" placeholder="Password" formControlName="password" required>
        <div>
          Please provide a valid password (min length 6)
        </div>
      </div>
      <div class="full-width-input">
        <input type="password" placeholder="Password" formControlName="confirmPassword" required>
        <div>
          Please provide the same value entered above
        </div>
      </div>
      <div class="spinner-wrapper">
        <button [disabled]="loading">
          Done
        </button>
        <div *ngIf="loading"></div>
      </div>
    </form>
  </app-card>
  <app-card [title]="'Password updated'" *ngIf="success">
    <p>Please proceed with login</p>
    <button (click)="router.navigate(['/login'])">Login</button>
  </app-card>
</div>

