<div [class.dark-theme]="darkTheme === 'true'">
 <div class="landing-layout-page">
  <div class="header">
   <app-landing-layout-top-nav></app-landing-layout-top-nav>
  </div>
  <div class="header-filler"></div>
  <div class="landing-layout-page-content">
   <div class="brand-in-page">
    <a class="brand" routerLink="/">
     <img class="brand-logo" height="40" [src]="brand.brandLogo"/>
     <h2>UI Template</h2>
    </a>
   </div>
   <router-outlet></router-outlet>
  </div>
 </div>
 <app-footer></app-footer>
 <app-bottom-nav></app-bottom-nav>
</div>
