.error-with-icon {
  width: 100%;
  position: relative;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.error-with-icon p {
  padding-left: 48px;
}

.error-with-icon i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 8px;
}

.error-text, .error-text p, .error-text i {
  color: var(--error);
}

.input-error input {
  border-color: var(--error);
}

.input-error input::-webkit-input-placeholder {
  color: var(--error);
}

.input-error input:focus {
  box-shadow: 0 0 8px 0 var(--error);
}

.input-error.input-with-icon input:focus + i {
  background-color: var(--error);
}

.input-error.input-with-icon i {
  background-color: var(--error);
}



