@import "themes";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form button {
  margin-top: 2rem;
}

input, input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 300;
}

input {
  color: map_get($basic-angular-ui-template-theme, "default");
  background-color: map_get($basic-angular-ui-template-theme, "bg-light");
}

input::-webkit-input-placeholder {
  color: map_get($basic-angular-ui-template-theme, "default-contrast");
}

.dark-theme input {
  color: map_get($basic-angular-ui-template-theme, "default-contrast");
  background-color: map_get($basic-angular-ui-template-theme, "bg-dark");
}

.dark-theme input::-webkit-input-placeholder {
  color: map_get($basic-angular-ui-template-theme, "default");
}

input {
  width: 100%;
  border-radius: 3px;
  border: 2px solid map_get($basic-angular-ui-template-theme, "default-contrast");
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 200ms ease;
}

.dark-theme input {
  border-color: map_get($basic-angular-ui-template-theme, "default");
}

input:focus {
  border-color: map_get($basic-angular-ui-template-theme, "default");
  box-shadow: 0 0 8px 0 map_get($basic-angular-ui-template-theme, "default");
}


input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  width: fit-content;
}

input[type=checkbox] + label:before {
  content: "\2714";

  border-radius: 3px;
  border: 2px solid map_get($basic-angular-ui-template-theme, "default-contrast");

  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.2em;
  margin-right: 0.2em;
  vertical-align: center;
  color: transparent;
  transition: 200ms;
}

input[type=checkbox]:checked + label:before {
  color: map_get($basic-angular-ui-template-theme, "default-contrast");
  background-color: map_get($basic-angular-ui-template-theme, "default");
  border-color: map_get($basic-angular-ui-template-theme, "default");
}

.dark-theme input:focus {
  border-color: map_get($basic-angular-ui-template-theme, "default-contrast");
  box-shadow: 0 0 8px 0 map_get($basic-angular-ui-template-theme, "default-contrast");
}

.input-with-icon, .input-checkbox {
  width: 100%;
  position: relative;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.input-with-icon input {
  padding-left: 48px;
}

.input-with-icon input:focus + i {
  background-color: map_get($basic-angular-ui-template-theme, "default");
}

.dark-theme .input-with-icon input:focus + i {
  background-color: map_get($basic-angular-ui-template-theme, "default-contrast");
}

.input-with-icon i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px 8px;
  color: map_get($basic-angular-ui-template-theme, "bg-light");
  background-color: map_get($basic-angular-ui-template-theme, "default-contrast");
  border-radius: 3px 0 0 3px;
}

.dark-theme .input-with-icon i {
  color: map_get($basic-angular-ui-template-theme, "bg-dark");
  background-color: map_get($basic-angular-ui-template-theme, "default");
}

.input-checkbox {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.input-checkbox span {
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid map_get($basic-angular-ui-template-theme, "default-contrast");
}

.input-checkbox p {
  margin-left: 0.25rem;
}

.input-checkbox:hover input ~ span {
  background-color: map_get($basic-angular-ui-template-theme, "darker-contrast");
}

.input-checkbox input:checked ~ span {
  border-color: map_get($basic-angular-ui-template-theme, "default");
  background-color: map_get($basic-angular-ui-template-theme, "default");
}

.input-checkbox span:after {
  content: "";
  position: absolute;
  display: none;
}

.input-checkbox input:checked ~ span:after {
  display: block;
}

.input-checkbox span:after {
  left: 8px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid map_get($basic-angular-ui-template-theme, "default-contrast");
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (hover: hover) {
  form a:hover {
    background: none;
  }

}
