:root {
  --social: rgba(255, 255, 255, 0);
  --linkedin: #2867b2;
  --facebook: #1877f2;
  --twitter: #00aced;
  --google: #4286f5;
  --github: #171515;
  --dribbble: #ea4c89;
  --instagram: #125688;
}
