@import "themes";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map_get($basic-angular-ui-template-primary, "lighter");
  color: map_get($basic-angular-ui-template-primary, "text");
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: mat-color($basic-angular-ui-template-primary);
}

p {
  word-break: break-all
}

a {
  color: mat-color($basic-angular-ui-template-primary);
  text-decoration: none;
}

a:hover {
  color: mat-color($basic-angular-ui-template-primary, 'darker');
}

.full-screen-image {
  height: 100%;
  background-image: url("assets/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.full-screen-image-overlay {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper mat-spinner {
  position: absolute;
}

.darkTheme {
  @include angular-material-theme($basic-angular-ui-template-dark-theme);
}

.darkTheme.full-screen-image {
  background-image: url("assets/landing-dark.jpg");
}

.darkTheme .full-screen-image-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212121), to(rgba(200, 225, 255, 0.4)));
}

.darkTheme a:hover {
  color: mat-color($basic-angular-ui-template-primary, 'lighter');
}

@media only screen and (max-width: 600px) {
  .full-screen-image {
    height: 150%;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .full-screen-image {
    height: 100%;
  }
}
