@import "themes";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track:vertical {
  background: map_get($basic-angular-ui-template-theme, "bg-dark");
}

body::-webkit-scrollbar-thumb:vertical {
  background: map_get($basic-angular-ui-template-theme, "darker");
}

body::-webkit-scrollbar:horizontal {
  display: none;
}

p {
  word-break: break-all
}

a, h1, h2, h3, h4, h5, h6 {
  color: map_get($basic-angular-ui-template-theme, "default");
  text-decoration: none;
  font-weight: 300;
}

.dark-theme a, .dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6  {
  color: map_get($basic-angular-ui-template-theme, "default-contrast");
  text-decoration: none;
}

@media (hover:hover) {

  a:hover {
    color: map_get($basic-angular-ui-template-theme, "darker");
    background: rgba(89, 118, 150, 0.2);
  }

  .dark-theme a:hover {
    color: map_get($basic-angular-ui-template-theme, "darker-contrast");
  }
}
