// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$basic-angular-ui-template-primary: mat-palette($mat-blue-grey);
$basic-angular-ui-template-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$basic-angular-ui-template-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$basic-angular-ui-template-theme: mat-light-theme($basic-angular-ui-template-primary, $basic-angular-ui-template-accent, $basic-angular-ui-template-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($basic-angular-ui-template-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #cccccc;
  color: #202020;
}

p {
  word-break: break-all
}

.full-screen-image {
  height: 100%;
  background-image: url("assets/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.full-screen-image-overlay {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.5)));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper mat-spinner {
  position: absolute;
}
