@import "themes";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track:vertical {
  background: map_get($basic-angular-ui-template-primary, "bg-dark");
}

body::-webkit-scrollbar-thumb:vertical {
  background: map_get($basic-angular-ui-template-primary, "darker");
}

body::-webkit-scrollbar:horizontal {
  display: none;
}

p {
  word-break: break-all
}

a {
  color: map_get($basic-angular-ui-template-primary, "default");
  text-decoration: none;
}

.dark-theme a {
  color: map_get($basic-angular-ui-template-primary, "default-contrast");
  text-decoration: none;
}

@media (hover:hover) {

  a:hover {
    color: map_get($basic-angular-ui-template-primary, "darker");
    background: rgba(89, 118, 150, 0.2);
  }

  .dark-theme a:hover {
    color: map_get($basic-angular-ui-template-primary, "darker-contrast");
  }
}
