$basic-angular-ui-template-primary: (
  bg-light: #f5f5f5,
  bg-dark: #202020,
  default: #0d4482,
  darker: #0d3055,
  lighter: #5878a3,
  default-contrast: #b2c6de,
  darker-contrast: #d2e4f5,
  lighter-contrast: #7f9cbf,
);

$basic-angular-ui-template-red: (
  bg-light: #f5f5f5,
  bg-dark: #202020,
  default: #e23237,
  darker: #b52e31,
  lighter: #f35559,
  default-contrast: #76808b,
  darker-contrast: #a5aeba,
  lighter-contrast: #607489,
);
