:root {
  --lighter: #5878A3;
  --color: #104D90;
  --darker: #092B4E;
  --darker-contrast: #D2E4F5;
  --contrast: #B2C6DE;
  --lighter-contrast: #7F9CBF;
  --brand-name: url(/assets/brand-name-dark.png);
  --background: #EFF0F5;
  --background-img: url("src/assets/landing.jpg");
  --shadow: rgba(155, 155, 155, 0.5);
  --card: #F6F6FA;
  --error: #E23237;
}

.dark-theme {
  --lighter: #7f9cbf;
  --color: #B2C6DE;
  --darker: #d2e4f5;
  --darker-contrast: #092B4E;
  --contrast: #104D90;
  --lighter-contrast: #5878A3;
  --brand-name: url(/assets/brand-name-light.png);
  --background: #01161d;
  --background-img: url("src/assets/landing-dark.jpg");
  --shadow: rgba(255, 255, 255, 0.1);
  --card: #032028;
  --error: #BA8C8E;
}
