@import "../../../../themes";

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 5px map_get($basic-angular-ui-template-theme, "dark-shadow");
  display: flex;
  overflow-x: auto;
  background-color: map_get($basic-angular-ui-template-theme, "bg-light");
  visibility: hidden;
}

.dark-theme.bottom-nav {
  box-shadow: 0 0 5px map_get($basic-angular-ui-template-theme, "light-shadow");
  background-color: map_get($basic-angular-ui-template-theme, "bg-dark");
}

.bottom-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  transition: background-color 0.1s ease-in-out;
}

.bottom-nav a i {
  margin: 0.2rem;
  font-size: 19px;
}

.transparent {
  background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 799px) {
  .bottom-nav {
    visibility: visible;
  }
}

@media only screen and (min-width: 800px) {
  .bottom-nav {
    visibility: hidden;
  }
}
