<app-dropdown-menu #dropdownMenuProducts [productLines]="PRODUCT_LINES">
</app-dropdown-menu>
<app-dropdown-menu #dropdownMenuServices [productLines]="SERVICES">
</app-dropdown-menu>
<nav class="bottom-nav">
  <a (click)="closeSettings()" *ngIf="openSettings" href="javascript:void(0)">
    <i aria-hidden="true" class="material-icons">arrow_back_ios</i>
    <span> Back </span>
  </a>
  <a *ngIf="!openSettings"
     [routerLink]="URLS.root">
    <i [class]="'fas fa-home fa-fw'" aria-hidden="true"></i>
    <span> Home </span>
  </a>
  <a [routerLink]="URLS.login" *ngIf="!openSettings">
    <i [class]="'fas fa-sign-in-alt fa-fw'" aria-hidden="true"></i>
    <span> Login </span>
  </a>
  <a [routerLink]="URLS.signup" *ngIf="!openSettings">
    <i [class]="'fas fa-user-plus fa-fw'" aria-hidden="true"></i>
    <span> Sign Up </span>
  </a>
  <a
    (click)="openSettings = !openSettings"
    *ngIf="!openSettings"
    href="javascript:void(0)">
    <i aria-hidden="true" class="material-icons">arrow_forward_ios</i>
    <span> More </span>
  </a>
  <a *ngIf="openSettings && !openOtherSettings"
     [routerLink]="URLS.about">
    <i [class]="'fas fa-address-card fa-fw'" aria-hidden="true"></i>
    <span> About </span>
  </a>
  <a
    *ngIf="openSettings && !openOtherSettings"
    class="non-clickable">
  </a>
  <a
    *ngIf="openSettings && !openOtherSettings"
    class="non-clickable">
  </a>
</nav>
