<div>
  <div *ngIf="!success">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <h2>Forget Password</h2>
      <div *ngIf="error">
        {{error}}
      </div>
      <div class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required>
        <div>
          Please provide a valid username
        </div>
      </div>
      <div class="spinner-wrapper">
        <button mat-raised-button color="primary" [disabled]="loading">
          Send
        </button>
        <div *ngIf="loading"></div>
      </div>
    </form>
  </div>
  <div *ngIf="success">
    <h2>Password reset email sent</h2>
    <button mat-raised-button color="primary" (click)="router.navigate(['/login'])">Login</button>
  </div>
</div>
