<div class="top-svg">
  <svg preserveAspectRatio="none" viewBox="0 0 1000 250"
       xmlns="http://www.w3.org/2000/svg">
    <path
        d="m 570,0 c 142.15709,-0.00910368 430.1133,0 430.1133,0 L 1000,152 976,198 883.0802,71.50001 C 883.0802,71.50001 642.17389,31.938796 523,13 Z"
        fill="var(--theme-color-lighter-2)"
        id="svg_4"/>
    <path
        d="M 523,13 570,0 H 438 Z"
        fill="var(--theme-color-lighter-5)"
        id="svg_2"/>
    <path
        d="m 0,269 25,24 z"
        fill="var(--theme-color-lighter-5)"
        id="svg_3"/>
    <path
        d="m 1000,234 -24,-36 24,-46 z"
        fill="var(--theme-color-lighter-5)"
        id="svg_10"/>
  </svg>
</div>
