<div class="splash-content" fxLayout="column" fxLayoutAlign="center center">
  <div class="splash-logos" fxLayout="row" fxLayoutAlign="center center">
    <img src="./assets/brand-logo.png" alt="logo"/>
    <i class="fa fa-check-circle success-text" *ngIf="!error"></i>
    <i class="fa fa-times-circle error-text" *ngIf="error"></i>
    <img src="./assets/social/linkedin-logo.png" alt="linkedin"/>
  </div>
  <div class="splash-loading-bar" *ngIf="!error">
  </div>
  <div class="error-text alert-with-icon" *ngIf="error">
    <p>
      {{error}}
    </p>
    <i class="fas fa-exclamation-triangle fa-lg fa-fw" area-hidden="true"></i>
  </div>
</div>
