<div class="dashboard-page">
  <app-profile-card [photoUri]="profileImg" [userIsPremium]="userIsPremium" [user]="userInfo"></app-profile-card>

  <app-card [header]="'Socket Activity'" [defaultHeaderClass]="'underline'" [bodyTemplate]="bodyTemplate"
            [footerTemplate]="footerTemplate"
            class="socket-activity-card" [ribbon]="INFORMATION_RIBBONS.get('development')">
    <!-- Body -->
    <ng-template #bodyTemplate>
      <div class="body">
        <div class="chat">
          <p *ngFor="let socketActivity of socketActivityList.reverse(); index as i"
             [class.even]="(i+1) % 2 === 0">{{ '> (' + ( socketActivity.date | date: 'dd MMM HH:mm' ) + ') ' }}
            <span class="author"
                  [class.red-theme]="socketActivity.type === 'Notification'">{{socketActivity.author + ':'}}</span> {{socketActivity.message }}
          </p>
        </div>
        <div class="users">
          <p class="title">Active Users</p>
          <div class="users-list">
            <div *ngFor="let user of users; index as i" class="user-wrapper">
              <oth-led [informationType]="'success'">
              </oth-led>
              <p>{{' ' + user}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- Footer -->
    <ng-template #footerTemplate>
      <div class="footer">
        <form [formGroup]="form">
          <div class="input-with-icon">
            <input formControlName="message" placeholder="Message.." type="text" (keyup.enter)="onSubmit()"/>
            <i aria-hidden="true" class="fas fa-paper-plane fa-lg fa-fw" (click)="onSubmit()"></i>
          </div>
        </form>
      </div>
    </ng-template>
  </app-card>
</div>
