@use "../../../../styles/util/util";
@use "../../../component/card/card.component";

.dashboard-page {
  padding-top: 120px;
  margin-left: 60px;
  margin-right: 60px;

  & .socket-activity-card {
    margin: 30px;

    & .body {
      min-height: 120px;

      padding: 0.5em 1.5em 1.5em;

      font-size: 16px;

      & p {
        &.even {
          background-color: var(--darker-contrast);
        }

        & .author {
          font-weight: 500;
          color: var(--theme-color-darker-2);
        }
      }
    }

    & .footer {
      @include card.default-footer;
      padding: 1em;

      & form {
        width: 100%;
      }

      & .input-with-icon {
        flex-direction: row;

        & textarea:focus {
          border-color: var(--theme-color);

          & + i {
            color: var(--theme-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .dashboard-page {
    margin-left: 0;
    margin-right: 0;
  }
}
