@use '../../../styles/page/page';

.page-content {
  padding: 0 2rem 2em;
}

@media only screen and (max-width: 999px) {
  .page {
    margin-top: 55px;

    & .page-content {
      padding-bottom: 50px;
    }
  }

  .page, .footer-wrap {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .side-nav-closed .page, .side-nav-closed .footer-wrap, .page, .footer-wrap {
    margin-left: 80px;
  }

  .page, .footer-wrap {
    margin-left: 256px;
  }

  .page {
    margin-top: 0;
    padding-top: 100px;
    min-height: calc(100vh - 480px);
    & .page-content {
      padding: 0 2rem 2em;
    }
  }

  .side-nav-closed .page, .side-nav-closed .footer-wrap {
    margin-left: 80px;
  }
}
